.memberRow {
  padding-top: 10px;
  border-bottom: solid 1px gray;
  font-size: 1.3em;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 1.5em;
  border: 1px solid #ddd; 
  margin-top: 12px;
  margin-bottom: 12px;
  border: solid 1px magenta;
  box-shadow: 3px 3px pink;
}

#myUL {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 1.3em;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

@media (max-width: 1065px) {
  #myUL li a {
      font-size: 1.4em;
  }
  .memberRow {
    font-size: 1.4em;
  }
}
@media (max-width: 788px) {
  #myUL li a {
      font-size: 1.7em;
  }
  .memberRow {
    font-size: 1.7em;
  }
}
@media (max-width: 500px) {
  #myUL li a {
      font-size: 2em;
  }
  .memberRow {
    font-size: 2em;
  }
}
#navRight {
  float: right;
}

.borderB {
  border-bottom: solid 1px #333;
  padding-bottom: 5px;
  background-color: white;
  font-weight: bolder;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#leftPane {
  font-size: 1.5em;
}